events {
    worker_connections 1024;
}

http {
    error_log /dev/stderr;
    access_log /dev/stdout;

    server {
        listen       {{nginx_port}} default_server;
        server_name  _;
        root         {{app_root}};

        location ~ [^/]\.php(/|$) {
            fastcgi_split_path_info ^(.+?\.php)(/.*)$;
            fastcgi_pass {{fastcgi_addr}};
            include fastcgi_params;
        }
    }
}
