<?php
/**
 * The base configurations of the WordPress.
 *
 * This file has the following configurations: MySQL settings, Table Prefix,
 * Secret Keys, WordPress Language, and ABSPATH. You can find more information
 * by visiting {@link http://codex.wordpress.org/Editing_wp-config.php Editing
 * wp-config.php} Codex page. You can get the MySQL settings from your web host.
 *
 * This file is used by the wp-config.php creation script during the
 * installation. You don't have to use the web site, you can just copy this file
 * to "wp-config.php" and fill in the values.
 *
 * @package WordPress
 */

// ** MySQL settings - You can get this info from your web host ** //
/** The name of the database for WordPress */
define('DB_NAME', '{{ wp_db_name }}');

/** MySQL database username */
define('DB_USER', '{{ wp_db_user }}');

/** MySQL database password */
define('DB_PASSWORD', '{{ wp_db_password }}');

/** MySQL hostname */
define('DB_HOST', '{{ wp_db_host }}');

/** Database Charset to use in creating database tables. */
define('DB_CHARSET', 'utf8');

/** The Database Collate type. Don't change this if in doubt. */
define('DB_COLLATE', '');

/**#@+
 * Authentication Unique Keys and Salts.
 *
 * Change these to different unique phrases!
 * You can generate these using the {@link https://api.wordpress.org/secret-key/1.1/salt/ WordPress.org secret-key service}
 * You can change these at any point in time to invalidate all existing cookies. This will force all users to have to log in again.
 *
 * @since 2.6.0
 */
define('AUTH_KEY',         '192 ;7#S0*%lGUl@7) Tj-Y<29f|ID-;%&w=|d5PBNI8@4#hbVj-9A~n_juQOnVp');
define('SECURE_AUTH_KEY',  '-+b[.^?B&) 4Vs/McF>.dSD_-:p<g.y=:h!n#$X}VTS1 g>xCXNcHu[0Khb J41:');
define('LOGGED_IN_KEY',    '$+tWH@~Sv;1cGcfS])1oG_<#+I:bR7/zVb~B1H|IF;fkgTT@@tKMB++OBq(cgH @');
define('NONCE_KEY',        '|R4RcncExQx[NJ?|W#tbWY-RGg= P-N`QD2|1N[%M|xs6/F+Jv_%WUr#tzVcM?W,');
define('AUTH_SALT',        'ghh*tkM*tmIMk[39Ypg@c%Mc=1)85J|!dWAL!U9. yX1Tm[]a>@HNAxJJGn(lI=V');
define('SECURE_AUTH_SALT', 'WE&PB2XY$-Tr71+-PeoK58|n>elkE~Uc47|`G#/z:M:]L0z6kd5$6!spdg/AKP&K');
define('LOGGED_IN_SALT',   '?&L-s|;gxIKAb9te+C+7@An1q9DHnpl>sNF2Q>?R*<*-5%{~YbYbTYIpTiBM*$9h');
define('NONCE_SALT',       '&^^2<~F}[|g-_`GCX_:gjd(s0asn}X?r`fRMNemC$&7+_cGBM@I3c+not,$b-q9|');

/**
 * WordPress Database Table prefix.
 *
 * You can have multiple installations in one database if you give each a unique
 * prefix. Only numbers, letters, and underscores please!
 */
$table_prefix  = 'wp_';

/**
 * For developers: WordPress debugging mode.
 *
 * Change this to true to enable the display of notices during development.
 * It is strongly recommended that plugin and theme developers use WP_DEBUG
 * in their development environments.
 */
define('WP_DEBUG', false);

/* That's all, stop editing! Happy blogging. */

/** Absolute path to the WordPress directory. */
if ( !defined('ABSPATH') )
        define('ABSPATH', dirname(__FILE__) . '/');

/** Sets up WordPress vars and included files. */
require_once(ABSPATH . 'wp-settings.php');
